@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

.name {
  font-weight: 700;
  font-size: 2.1em;
  font-family: "Noto Serif", sans-serif;
  text-align: center;
  margin-top: 0;
}
.cabecalho {
  display: flex;
  background-color: rgb(36, 41, 46);
  /* 2E5A88 */
  color: white;
  padding: 7px;
  position: fixed;
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

.cabecalho h1 {
  font-family: "Archivo Narrow", sans-serif;
  margin: 8px 0 8px 20px;
}

button {
  height: 100px;
  width: 100px;
  background-image: url("./perfil.png");
  background-size: cover;
}
.descricao {
  /* font-family: "Noto Serif", "Open Sans Condensed", sans-serif; */
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  padding: 5px;
  margin-right: 10px;
  margin-top: 80px;
  /* text-align: justify; */
}
.habilidade1 {
  font-size: 1.2em;
}
.habilidade2 {
  font-size: 1.1em;
}
.habilidade3 {
  font-size: 1.2em;
}
.habilidade4 {
  font-size: 1.1em;
}
.habilidade5 {
  font-size: 1.2em;
}

.picture {
  width: 160px;
  float: left;
  margin: 40px 15px 5px 15px;
  padding: 0;
  border: 2px solid rgb(8, 82, 107);
  border-radius: 7px;
}

li {
  text-decoration: none;
  list-style-type: square;
}

.habilidades {
  padding: 5px 15px;
  background-color: rgb(17, 17, 17);
}

.img-header {
  width: 32px;
}

.icones-redes {
  /* top: 15px;
  right: 5px;
  width: 20%; */
  align-self: center;
  margin-right: 20px;
}

.link-header {
  margin-left: 35px;
}

.first-left {
  margin-left: 135px;
}

.who-am-i {
  /* margin: 10px 55px; */
  /* border-radius: 12px; */
  background-color: #1a1a1a;
  color: beige;
  padding: 35px 0px;
  /* overflow: hidden; */
}

.footer {
  background-color: rgb(30, 41, 46);
  color: white;
  padding: 2px 0;
  margin: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
}

.footer p {
  margin-left: 20px;
}

.projects-section h2 {
  font-size: 2em;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-div-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.58);
  width: 40%;
  align-items: center;
  background-color: rgb(224, 224, 235);
  margin: 30px 0;
  border-radius: 20px;
}

.image-project {
  width: 80%;
}

.text-link a {
  text-decoration: none;
  color: #FB5681;
  font-weight: 600;
}

.introducao {
  align-items: center;
  background-image: url(./imgs/first-images/img4.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  /* justify-content: center; */
  min-height: 100vh;
  text-align: center;
}

.introducao h1 {
  margin: 180px 0 10px 0 ;
  font-size: 2em;
}

.introducao h3 {
  margin-top: 10px;
}

.description-who-am-i{
  display: flex;
  align-content: center;
  align-items: center;
  min-height: 100vh;
}

.svgs {
  width: 30%;
  margin-top: 90px;
}

.who-am-i div {
  padding: 25px 5px;
  margin-right: 45px;
  width: 60%;
}