@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

.name {
  font-weight: 700;
  font-size: 2.1em;
  font-family: "Noto Serif", sans-serif;
  text-align: center;
  margin-top: 0;
}

.sobre {
  font-weight: 700;
  font-size: 2.1em;
  font-family: "Noto Serif", sans-serif;
  text-align: center;
  margin-top: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@700&display=swap");

.cabecalho {
  display: flex;
  /* align-items: center; */
  /* background-color: rgb(36, 41, 46); */
  background-color: #07092B;
  /* 2E5A88 */
  color: white;
  padding: 7px;
  position: fixed;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  font-family: "Archivo Narrow", sans-serif;
}

.cabecalho h1 {
  margin: 8px 0 8px 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

.descricao {
  /* font-family: "Noto Serif", "Open Sans Condensed", sans-serif; */
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  padding: 5px;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 80px;
  /* text-align: justify; */
}
.habilidade1 {
  font-size: 1.2em;
}
.habilidade2 {
  font-size: 1.1em;
}
.habilidade3 {
  font-size: 1.2em;
}
.habilidade4 {
  font-size: 1.1em;
}
.habilidade5 {
  font-size: 1.2em;
}

.picture {
  width: 160px;
  float: left;
  margin: 40px 15px 5px 15px;
  padding: 0;
  border: 2px solid rgb(8, 82, 107);
  border-radius: 7px;
}

li {
  text-decoration: none;
  list-style-type: square;
}

.article-habilidades {
  background-color: rgb(17, 17, 17);
  min-height: 20vh;
  padding-top: 70px;
  padding-bottom: 75px;
}

.article-contato {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(17, 17, 17);
  min-height: 40vh;
}

.svg-contato {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.svg-contato img {
  width: 60px;
}

.svg-contato p {
  color: beige;
  font-size: 1.2em;
}

.svg-contato a {
  text-decoration: none;
  opacity: 0.8;
}

.svg-contato a:hover {
  opacity: 1;
}

.svg-contato a:visited,
a:hover,
a:active {
  color: inherit;
}

.article-projetos {
  min-height: 80vh;
  background-color: #1a1a1a;
  padding-top: 75px;
  padding-bottom: 80px;
  font-family: "Archivo Narrow", sans-serif;
}

.article-projetos h1 {
  text-align: center;
  margin: 0;
  color: beige;
  font-size: 3em;
  width: 100%;
}

.article-habilidades h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 3em;
  color: white;
  font-family: "Raleway", sans-serif;
}

.habilidades {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 20px;
}

.svg-habilidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg-habilidade img {
  width: 65px;
}

.svg-habilidade p {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.who-am-i {
  background-color: #1a1a1a;
  color: beige;
  padding-top: 25px;
}

.footer {
  background-color: rgb(30, 41, 46);
  color: white;
  padding: 2px 0;
  margin: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
}

.footer p {
  margin-left: 20px;
}

.projects-section h2 {
  font-size: 2em;
  text-align: center;
}

.text-link a {
  text-decoration: none;
  color: #2727F2;
  font-weight: 600;
}

.introducao {
  align-items: center;
  background-image: url(./imgs/first-images/2.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  /* justify-content: center; */
  min-height: 100vh;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
}

.introducao h1 {
  margin: 140px 0 10px 0;
  font-size: 2em;
}

.introducao h3 {
  margin-top: 10px;
}

.description-who-am-i {
  display: flex;
  align-content: center;
  align-items: center;
  min-height: 115vh;
  margin-top: -210px;
}

.svgs {
  width: 30%;
  margin-top: 90px;
}

.who-am-i div {
  margin-top: 0;
  padding: 25px 5px;
  margin-right: 45px;
  width: 60%;
}

.nav-header {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-header a {
  font-size: 1.2em;
  text-decoration: none;
  padding: 0 20px;
  margin-right: 5px;
  color: beige;
  cursor: pointer;
  opacity: 0.7;
}

.nav-header a:hover {
  opacity: 1;
  color: white;
}

.nav-header a:visited,
a:hover,
a:active {
  color: inherit;
}

.modulos-projetos {
  display: flex;
  justify-content: space-around;
}

.section-projetos {
  min-height: 50vh;
  margin-top: 50px;
  width: 47%;
}

.section-projetos h2 {
  color: beige;
  background-color: #1a1a1a;
  margin-top: 0;
  text-align: center;
  padding-bottom: 15px;
  font-size: 2em;
  margin-bottom: 5px;
}

.lista-de-projetos div {
  background-color: #2a0134;
  margin: 0 0;
  padding: 15px 18px;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 1px solid #3b0449;
}

.lista-de-projetos div:hover {
  background-color: #5c216b;
}

.lista-de-projetos {
  display: flex;
  flex-direction: column;
}

.project-name {
  margin-right: 25px;
}

.section-projetos a {
  float: right;
  font-weight: 600;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
  color: #83f0f0;
  cursor: pointer;
}

.section-projetos a:hover {
  opacity: 0.7;
}
