@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
.who-am-i {
  background-color: #1a1a1a;
  color: beige;
  padding-top: 25px;
}

.who-am-i div {
  margin-top: 0;
  padding: 25px 5px;
  margin-right: 45px;
  width: 60%;
  margin-bottom: 40px;
}

.sobre {
  font-weight: 700;
  font-size: 3.5em;
  font-family: "Teko", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.description-who-am-i {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 100vh; */
}

.descricao {
  color: #ffffff;
  font-family: 'Marmelad', sans-serif;
  text-align: justify;
  font-weight: 400;
  font-size: 1.2em;
  padding: 5px;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 80px;
}

.text-link a {
  text-decoration: none;
  color: #8543ee;
  font-weight: 600;
}

.svgs {
  width: 30%;
  margin-top: 40px;
}
