.introducao {
  align-items: center;
  background-image: url(../imgs/first-images/6.png);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  min-height: 100vh;
  text-align: center;
  font-family: 'Teko', sans-serif;
  text-shadow: black 0.2em 0.2em 0.3em
}

.introducao h1 {
  margin: 180px 0 10px 0;
  font-size: 2.3em;
}

.introducao h2 {
  margin-top: 30px;
}

.button-resume {
  padding: 5px 30px;
  text-decoration: none;
  pointer-events: inherit;
  border-radius: 25px;
  border: none;
  background-color: #02706F;
  font-size: 23px;
  color: white;
  font-family: 'Teko', sans-serif;
  text-shadow: black 0.1em 0.1em;
  margin-right: 25px;
  margin-left: 25px;
}

.button-resume:hover {
  cursor: pointer;
  text-shadow: black 0.1em 0.1em;
  background-color: #02366F;
}

.resumes-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}