@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
.cabecalho {
  display: flex;
  background-color: #07091b;
  color: white;
  padding: 5px;
  position: fixed;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  font-family: 'Teko', sans-serif;
}

.cabecalho h1 {
  margin: 5px 0 3px 20px;
  font-size: 2.4em;
}


.nav-header {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-header a {
  font-size: 1.2em;
  text-decoration: none;
  padding: 0 20px;
  margin-right: 5px;
  color: beige;
  cursor: pointer;
  opacity: 0.7;
}

.nav-header a:hover {
  opacity: 1;
  color: white;
}

.nav-header a:visited,
a:hover,
a:active {
  color: inherit;
}