.article-projetos {
  min-height: 80vh;
  background-color: #1a1a1a;
  padding-top: 75px;
  padding-bottom: 80px;
  font-family: "Archivo Narrow", sans-serif;
}

.article-projetos h1 {
  text-align: center;
  margin: 0;
  color: beige;
  font-size: 3em;
  width: 100%;
}

.modulos-projetos {
  display: flex;
  justify-content: space-around;
}

.section-projetos {
  min-height: 50vh;
  margin-top: 50px;
  width: 47%;
}

.section-projetos h2 {
  color: beige;
  background-color: #1a1a1a;
  margin-top: 0;
  text-align: center;
  padding-bottom: 15px;
  font-size: 2em;
  margin-bottom: 5px;
}

.section-projetos a {
  float: right;
  font-weight: 600;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
  color: #00E4F5;
  cursor: pointer;
}

.section-projetos a:hover {
  opacity: 0.8;
}

.lista-de-projetos div {
  background-color: #080a3aea;
  margin: 0 0;
  padding: 15px 18px;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 1px solid #0c0f42;
}

.lista-de-projetos div:hover {
  background-color: #12166e;
}

.lista-de-projetos {
  display: flex;
  flex-direction: column;
}

.project-name {
  margin-right: 25px;
}
