.article-projetos {
  min-height: 80vh;
  background-color: #141414f3;
  padding-top: 10px;
  padding-bottom: 28px;
  font-family: "Teko", sans-serif;
  font-size: 1.1em;
}

.article-projetos h1 {
  text-align: center;
  margin: 0;
  color: beige;
  font-size: 3em;
  width: 100%;
}

.modulos-projetos {
  display: flex;
  justify-content: space-around;
}

.section-projetos {
  /* min-height: 50vh; */
  margin-top: 50px;
  width: 47%;
}

.section-projetos h2 {
  color: beige;
  margin-top: 0;
  text-align: center;
  padding-bottom: 15px;
  font-size: 2em;
  margin-bottom: 5px;
}

.section-projetos a {
  float: right;
  font-weight: 600;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
  color: rgba(158, 155, 155, 0.836);
  cursor: pointer;
  font-size: 0.9em;
  font-family: 'Marmelad', sans-serif;
  text-shadow: rgb(19, 18, 18) 0.1em 0.1em;
}

.section-projetos a:hover {
  color: rgb(228, 227, 227);
  font-weight: bold;
  /* opacity: 0.8; */
}

.lista-de-projetos div {
  background-color: #0d0e0f;
  margin: 0 0;
  padding: 15px 18px;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 1px solid #000000;
}

.lista-de-projetos div:hover {
  background-color: #292d33be;
}

.lista-de-projetos {
  display: flex;
  flex-direction: column;
}

.project-name {
  margin-right: 25px;
}
