.article-habilidades {
  background-color: rgba(8, 8, 8, 0.945);
  padding-top: 40px;
  padding-bottom: 75px;
}

.article-habilidades h1 {
  margin: 0;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  font-size: 3.5em;
  color: beige;
  font-family: "Teko", sans-serif;
  font-size: 1.1;
}

.habilidades {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 20px;
}

.svg-habilidade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Marmelad', sans-serif;
}

.svg-habilidade img {
  width: 65px;
}

.svg-habilidade p {
  color: white;
  text-align: center;
  font-size: 1.5em;
}